.link {
  color: blue;
  text-decoration: underline;
}

.card {
  width: 350px;
  margin-top: 10px;
}

.modal-footer {
  justify-content: left;
}

.ticket-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.modalz {
  
  color: black;
  position: absolute;
  float: left;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 20px ;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: .25rem;
}

.add-ticket-container {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.add-ticket {
  width: 600px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: right;
}

.login-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  align-items: center;
}

.role-container {
  display: flex;
  justify-content: center;
}

.role {
  font-size: 4.5rem;
  padding: 10px;
}

.count-container {
  padding: 20px;
}

.count-container span {
  color: red;
}

.logo {
  font-family: 'Teko', sans-serif;
  font-size: 5.5rem;
  color: rgb(17, 163, 17);
}